#div-app{
	width: 100vw;
  height: 100vh;
	display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
	background-color: #8ab4dd;
	position: relative;
}
#div-app p {
	color: #123068;
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 20px;
}